body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  background-color: rgb(193, 214, 239);
  font-size: 14px;
  opacity: 75%;
  padding-top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  opacity: 75%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.mainNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-direction: space-around;
}
.navLinks {
  text-decoration: none;
  color: #4f6d8c;
  margin: 10px;
}

.mainNav li {
  text-align: center;
}

.navLogo {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 35px;
  height: 35px;
}

.bgimg1,
.bgimg2,
.bgimg3 {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bgimg1 {
  background-image: url('./images/home1.png');
  padding-bottom: 65.89%;
  height: 0;
}

.bgimg2 {
  background-image: url('./images/bgimg2.png');
  padding-bottom: 70%;
  height: 0;
}

.bgimg3 {
  background-image: url('img_parallax3.jpg');
  min-height: 400px;
}
