body,
html {
  height: 100%;
  margin: 0;
}

.bgimg1,
.bgimg2,
.bgimg3 {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bgimg1 {
  background-image: url('./images/home1.png');
  padding-bottom: 65.89%;
  height: 0;
}

.bgimg2 {
  background-image: url('./images/bgimg2.png');
  padding-bottom: 70%;
  height: 0;
}

.bgimg3 {
  background-image: url('img_parallax3.jpg');
  min-height: 400px;
}
